body{
    background-color:rgba(83, 113, 103, 1);
}

ul{
    border-style:solid;
    width:10%;
    padding-left:70px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:90px;
    background-color:white;
}

h2{
    font-size:35px;
    color:white;
}