body{
    background-color:rgba(83, 113, 103, 1);
}
p{
    font-size: 35px;;
}
.friends{
    border-style: hidden;
    background-color:rgba(217, 217, 217, 1);
    width:35%;
    height:800px;;
    border-radius:10px;
    padding-top:50px;
    padding-bottom: 60px;
    margin-left:650px;
}
.friend{
    display: flex;
    justify-content: center;
    align-items: center;;
    flex-direction: column;
    border-style:solid;
    background-color: rgb(240, 240, 240);
    padding:30px;
    margin:30px;
    margin-bottom: 30px;
}
.other{
    display: flex;
    justify-content: center;
    align-items: center;;
    flex-direction: column;
    border-style:solid;
    background-color: rgb(240, 240, 240);
    padding:30px;
    margin:30px;

    margin-bottom: 30px;
}
.next {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 1.5px;
    margin-left:80%;
}
.next:hover{
    background-color: blue;
    color: white;
}
h1{
    display:flex;
    justify-content: center;
    font-size:55px;
    color:white;
}
